# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode
.vscode/

# Claude
.claude/
CLAUDE.md

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# pytype static type analyzer
.pytype/

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

#MacOS system files
.DS_Store

# Other files
inspiration.md
.ruff_cache/
